$primary-color: #242F51;
$accent-color: #2500F9;
$text-color: #242F51;

@mixin flex-item-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin media-sm {
   @media (max-width: 491px) {
      @content;
   }
}

@mixin media-md {
   @media (min-width: 768px) {
      @content;
   }
}



@mixin media-lg {
   @media (min-width: 1024px) {
      @content;
   }
}

// Reset
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 2rem;
   line-height: 2.5rem;
   font-weight: 700;
   color: black;
}

img {
   width: 100%;
   display: block;
}

a {
   text-decoration: none;

   &:hover {
      text-decoration: none;
   }
}

p {
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   color: #616368;
}

section {
   padding: 70px 0px;
   overflow: hidden;
   position: relative;
}

// Main Header
.main-header {
   position: absolute;
   width: 100%;
   z-index: 9999;

   // Nav bar
   .navbar-brand img {
      width: 118px;
      height: 43px;
   }

   .navbar-nav {
      .navbar-nav {
         text-align: center;
         background-color: #fff;
         opacity: 0.9;
         padding: 40px 0px;
         height: 100vh;
      }

      .nav-item {
         .nav-link {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            padding: 7px 15px;
            color: $primary-color;
         }
      }
   }

   .primar_btn {
      background-color: $accent-color;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      padding: 12px 25px;
      margin-left: 15px;
      display: none;
   }
}

@media (max-width: 767px) {
   .navbar {
      .navbar-nav {
         text-align: center;
         background: #fff;
         opacity: 0.9;
         padding: 20px 0px;
      }
   }
}

// Tablet 768px

@include media-md {
   .navbar {

      .navbar-nav {
         text-align: center;
         background: #fff;
         opacity: 0.9;
         padding: 20px 0px;
      }

      .primar_btn {
         display: none;
      }
   }
}

// Desktop
@include media-lg {
   .main-header {

      .primar_btn {
         display: inline-block;
      }
   }
}

// ShowCase 
.showcase {
   position: relative;

   &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../img/bottom-shape.png);
      background-size: contain;
      background-position: bottom center;
      bottom: 0;
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;
   }

   .showcase-content {
      margin-top: 100px;

      .show-case-title {
         width: 265px;
         background-color: #E2EAED;
         border-radius: 50px;

         i {
            color: #ffb95c;
         }

         span {
            font-size: 0.938rem;
            line-height: 1.5rem;
         }
      }

      h1 {
         font-size: 30px;
         line-height: 35px;
         color: #242F51;
         font-weight: 500;
         margin: 10px 0px;
      }

      p {
         font-size: 16px;
         line-height: 20px;
         font-weight: 400;
         opacity: 0.8;
      }

      .btn-group {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;

         a.try-btn {
            display: inline-block;
            font-size: 15px;
            font-weight: 700;
            line-height: 17px;
            color: #fff;
            background-color: $accent-color;
            padding: 8px 17px;
            border-radius: 50px;
            margin-bottom: 15px;
            width: 120px;
            text-align: center;

            &:hover {
               color: $accent-color;
            }
         }

         .watch-btn {
            display: inline-block;
            font-size: 15px;
            font-weight: 700;
            line-height: 17px;
            color: $accent-color;
            background-color: transparent;
            padding: 8px 17px;
            border-radius: 50px;
            border: 1px solid $accent-color;
            width: 180px;
            text-align: center;
         }
      }
   }

   .show-case-img {
      img {
         width: 300px;
         margin: 0 auto;
      }
   }
}

@include media-md {
   .showcase {

      .showcase-content {

         .show-case-title {
            width: 362px;
            background-color: #E2EAED;
            border-radius: 50px;

            i {
               color: #ffb95c;
            }

            span {
               font-size: 18px;
               line-height: 20px;
            }
         }

         h1 {
            font-size: 45px;
            line-height: 50px;
            margin: 10px 0px;
         }

         .btn-group {
            display: flex;
            flex-direction: row;

            a.try-btn {
               font-size: 15px;
               line-height: 17px;
               padding: 10px 20px;
               width: 160px;
               text-align: center;
               margin-right: 10px;
            }

            a.watch-btn {
               font-size: 15px;
               font-weight: 700;
               line-height: 17px;
               padding: 10px 20px;
               width: 240px;
               height: 40px;
               text-align: center;
            }
         }
      }

      .show-case-img {
         img {
            width: 3500px;
            margin: 0 auto;
            margin-top: 70px;
         }
      }

   }
}

@include media-lg {
   .showcase {

      .showcase-content {

         h1 {
            font-size: 60px;
            line-height: 70px;
         }

         p {
            font-size: 18px;
            line-height: 25px;
            margin: 30px 0px;
         }

         .btn-group {

            a.try-btn {
               font-size: 16px;
               line-height: 18px;
               padding: 14px 22px;
               height: 45px;
            }

            a.watch-btn {
               font-size: 16px;
               line-height: 18px;
               padding: 12px 22px;
               height: 45px;
            }
         }
      }
   }
}


// Company Slider
.company-slider {
   padding-top: 20px;
   padding-bottom: 20px;
   overflow: hidden;

   h3 {
      font-size: 16px;
      line-height: 20px;
      color: #242F51;
      font-weight: 400;
   }

   .owl-carousel {
      margin-top: 50px;

      .owl-item img {
         width: 150px;
         height: 100px;
         object-fit: contain;
         margin: auto;
      }
   }
}

@include media-md {
   .company-slider {
      padding-top: 40px;
   }
}

@include media-lg {
   .company-slider {
      padding: 100px 0px;

      h3 {
         font-size: 18px;
         line-height: 25px;
      }
   }
}

// App Fetures
.app-fetures {
   padding-top: 0;
   padding-bottom: 50px;

   .app-fetures-image {
      img {
         width: 300px;
         height: auto;
         margin: 0 auto;
         padding: 0px 15px;
      }
   }

   .app-fetures-text {

      h1 {
         font-size: 25px;
         line-height: 30px;
         font-weight: 500;
         color: $text-color;
         margin-top: 25px;
         margin-bottom: 15px;
      }
   }

   .fetures {
      margin-top: 30px;

      .app-fetures-services {
         display: flex;
         justify-content: center;
         align-items: center;

         .fetures-services-img {
            padding: 0px 10px;
         }

         .fetures-services-img img {
            width: 60px;
            height: auto;
         }

         .fetures-services-text {

            h3 {
               font-size: 16px;
               line-height: 20px;
               color: #F55767;
               font-weight: 500;
               letter-spacing: 0.24px;
            }

            p {
               font-size: 12px;
               line-height: 16px;
               color: #616368;
               font-weight: 400px;
            }
         }
      }
   }
}

@include media-md {
   .app-fetures {
      padding-top: 30px;

      .app-fetures-image {
         img {
            width: 350px;
            height: auto;
            margin-top: 110px;
         }
      }

      .app-fetures-text {

         h1 {
            font-size: 36px;
            line-height: 42px;
         }
      }

      .fetures {
         margin-top: 50px;

         .app-fetures-services {
            .fetures-services-img {
               padding: 0px 30px;
            }

            .fetures-services-img img {
               width: 70px;
               height: auto;
            }

            .fetures-services-text {

               h3 {
                  font-size: 20px;
                  line-height: 25px;

                  p {
                     font-size: 16px;
                     line-height: 20px;
                  }
               }
            }
         }
      }
   }
}

@include media-lg {
   .app-fetures {
      padding: 50px 0px;

      .app-fetures-image {
         img {
            width: 500px;
         }
      }

      .fetures {
         margin-top: 85px;

         .app-fetures-services {
            margin-bottom: 15px;
         }
      }
   }
}

// Smart JackPot
.smart-jackpot {
   position: relative;
   padding-bottom: 10px;



   .smart-jackpot-content {

      h2 {
         font-size: 30px;
         line-height: 35px;
         font-weight: 500;
         color: $text-color;
         margin-bottom: 30px;
      }
   }

   .smart-jackpot-ceontent-details {

      p {
         font-size: 16px;
         line-height: 20px;
         color: #616368;
         margin-top: 30px;
      }
   }

   .jackpot-services {
      .jackpot-single-sevices {

         img {
            width: 60px;
            padding: 10px 0px;
            margin: 0 auto;
         }

         h3 {
            font-size: 18px;
            line-height: 20px;
            color: #f55767;
            font-weight: 500;
         }

         p {
            font-size: 16px;
            line-height: 20px;
            color: #616368;
         }
      }
   }

   .services2 {
      h3 {
         color: #2563FF;
      }
   }

   .services3 {
      h3 {
         color: #40975F;
      }
   }
}

@include media-sm {
   .jackpot-single-sevices {
      text-align: center;
   }
}

@include media-md {
   .smart-jackpot {
      &::after {
         content: '';
         position: absolute;
         width: 2px;
         height: 110px;
         left: 50%;
         transform: translateX(-50%);
         background-color: #4B4A48;
         display: block;
         top: 65px;
         opacity: 0.7;
      }

      .smart-jackpot-content {

         h2 {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 0;
         }
      }

      .smart-jackpot-ceontent-details {

         p {
            margin: 0;
            padding: 0 30px;
         }
      }

      .jackpot-services {
         margin-top: 60px !important;

         .jackpot-single-sevices {
            text-align: left;

            img {
               margin: 0;
            }

            h3 {
               font-size: 18px;
               line-height: 20px;
               color: #f55767;
               font-weight: 500;
            }

            p {
               font-size: 15px;
               line-height: 20px;
               color: #616368;
            }
         }
      }
   }
}

@include media-lg {
   .smart-jackpot {
      padding: 50px 0px;

      &::after {
         content: '';
         position: absolute;
         width: 2px;
         height: 110px;
         left: 50%;
         transform: translateX(-50%);
         background-color: #4B4A48;
         display: block;
         top: 61px;
         opacity: 0.7;
      }

      .smart-jackpot-content {

         h2 {
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 0;
         }
      }

      .smart-jackpot-ceontent-details {

         p {
            margin: 0;
            padding: 15px 40px;
         }
      }

      .jackpot-services {
         margin-top: 110px !important;
      }
   }
}

// Integration

.integration {
   padding-bottom: 10px;

   .integration-img img {
      width: 300px;
      height: auto;
      padding: 15px;
      margin: 0 auto;
   }

   .integration-text {

      h2 {
         font-size: 25px;
         line-height: 30px;
         font-weight: 500;
         color: $text-color;
         margin: 35px 0px;
      }

      p {
         font-weight: 400;
         font-size: 16px;
         line-height: 20px;
      }

      a {
         background-color: $accent-color;
         color: #fff;
         border-radius: 50px;
         text-align: center;
         font-size: 16px;
         font-weight: 700;
         padding: 8px 25px;
         margin-top: 25px;
         display: inline-block;
      }
   }
}

@include media-md {
   .integration {
      padding: 50px 0px;

      .integration-text {
         h2 {
            font-size: 30px;
            line-height: 35px;
         }
      }
   }
}

@include media-lg {
   .integration {

      .integration-text {
         h2 {
            font-size: 36px;
            line-height: 40px;
         }
      }
   }
}

// Why chose us 

.why-chose-us {
   padding-bottom: 30px;

   .why-chose-us-text {
      h2 {
         font-size: 30px;
         line-height: 35px;
         font-weight: 500;
         color: $text-color;
         margin-bottom: 25px;
      }
   }

   .chose-us-services {
      margin-top: 25px;

      img {
         width: 60px;
         height: auto;
         padding: 15px 0px;
         margin: 0 auto;
      }

      h3 {
         font-size: 18px;
         line-height: 20px;
         color: $primary-color;
         font-weight: 500;
         margin-bottom: 15px;
      }

      p {
         font-size: 15px;
         color: #616368;
      }
   }
}

@include media-md {
   .why-chose-us {

      .why-chose-us-text {

         h2 {
            font-size: 36px;
            line-height: 40px;
            width: 434px;
            margin: 0 auto;
            margin-bottom: 30px;
         }

         p {
            width: 634px;
            font-size: 16px;
            line-height: 20px;
            margin: 0 auto;
            margin-bottom: 40px;
         }
      }

      .chose-us-services {
         margin-top: 20px;
      }
   }
}

// utlimate Features

.ultimate-fetaures {
   padding-top: 10px;
   padding-bottom: 20px;

   .ultimate-fetures-content {
      .ultimate-fetaures-text {
         h2 {
            font-size: 30px;
            line-height: 35px;
            font-weight: 500;
            color: #242F51;
            margin-bottom: 10px;
         }

         p {
            font-size: 15px;
            line-height: 20px;
            color: #616368;
            font-weight: 400;
         }
      }
   }

   .ultimate-fetaures-services {
      margin-top: 25px;

      .ultimate-single-service {
         img {
            width: 60px;
            height: auto;
            padding: 15px 0px;
         }

         h3 {
            font-size: 18px;
            line-height: 20px;
            color: $primary-color;
            font-weight: 500;
            margin-bottom: 15px;
         }

         p {
            font-size: 15px;
            color: #616368;
         }
      }
   }

   .ultimate-features-img img {
      width: 300px;
      margin: 0 auto;
      padding: 0px 15px;
   }
}


@include media-md {
   .ultimate-fetaures {
      padding: 50px 0px;
      background-image: url(../img/ultimate.png);
      background-position: 445px center;
      background-repeat: no-repeat;
      background-size: 50%;

      .ultimate-fetures-content {
         .ultimate-fetaures-text {
            h2 {
               font-size: 30px;
               line-height: 40px;
               margin-bottom: 20px;
            }

            p {
               font-size: 16px;
            }
         }
      }

      .ultimate-fetaures-services {
         width: 450px;
         display: grid;
         grid-gap: 10px 10px;
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@include media-lg {
   .ultimate-fetaures {
      background-position: 720px center;
      background-repeat: no-repeat;
      background-size: 50%;
      padding: 80px 0px;

      .ultimate-fetures-content {
         .ultimate-fetaures-text {
            h2 {
               font-size: 36px;
               line-height: 40px;
               margin-bottom: 20px;
            }

            p {
               font-size: 16px;
            }
         }
      }

      .ultimate-fetaures-services {
         width: 700px;
         display: grid;
         grid-gap: 15px 15px;
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

// Pricing Section

.pricing {
   .pricing-heading {
      h2 {
         font-size: 31px;
         line-height: 34px;
         font-weight: 500;
         color: #242F51;
         margin-bottom: 20px;
      }

      p {
         font-size: 15px;
         line-height: 20px;
         color: #616368;
      }

      .btn-group {
         margin-top: 40px;

         .monthly {
            display: inline-block;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 17px;
            background-color: #2500F9;
            padding: 8px 20px;
            border-radius: 50px;
            margin-right: 5px;
         }

         .annually {
            display: inline-block;
            color: #2500F9;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 17px;
            background-color: transparent;
            padding: 8px 20px;
            border-radius: 50px;
            border: 1px solid #2500F9;
         }
      }
   }

   .pricing-card {

      .pricing-card-content {
         border-radius: 7px;
      }

      .pricing-card-price {
         background-color: #F4F7F9;
         padding: 30px 15px;

         h2 {
            font-size: 40px;
            line-height: 45px;
            font-weight: 500;
            color: #242F51;

            span {
               font-size: 16px;
               line-height: 17px;
               color: #999CA5;
            }
         }

         h3 {
            font-size: 20px;
            line-height: 25px;
            color: #242F51;
            font-weight: 500;
         }

         p {
            font-size: 15px;
            line-height: 17px;
            color: #999CA5;
         }
      }

      .pricing-card-price-details {
         padding: 40px 0px;

         span {
            font-size: 16px;
            line-height: 48px;
            color: #999CA5;
            display: block;
         }

         a {
            font-size: 15px;
            line-height: 17px;
            font-weight: 500;
            color: #fff;
            background: #2500F9;
            border-radius: 50px;
            padding: 9px 20px;
            display: inline-block;
            margin-top: 30px;
         }

         .free-trial {
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
            color: #2500F9;
            display: inline-block;
            background: transparent;
         }
      }
   }

   .pricing-card-content {
      box-shadow: 0px 5px 10px #70707036;
   }

   .price1 {
      margin-bottom: 18px;
   }
}

@include media-md {
   .pricing {
      padding: 50px 0px;
   }
}

@include media-lg {
   .pricing {
      padding: 80px 0px;

      .pricing-heading {

         h2 {
            font-size: 36px;
            line-height: 40px;
            width: 570px;
            margin: 0 auto;
            margin-bottom: 20px;
         }

         p {
            font-size: 16px;
            margin: 0 auto;
            width: 634px;
         }

         .btn-group {
            margin-top: 40px;

            .monthly {
               padding: 14px 25px;
               margin-right: 10px;
            }

            .annually {
               padding: 12px 25px;
            }
         }
      }

      .pricing-card {
         .pricing-card-price {

            h2 {
               font-size: 60px;
               line-height: 65px;

               span {
                  font-size: 18px;
                  line-height: 25px;
               }
            }

            p {
               font-size: 16px;
               line-height: 20px;
            }
         }

         .pricing-card-price-details {
            a {
               font-size: 16px;
               padding: 12px 25px;
            }

            .free-trial {
               display: block;
               font-size: 16px;
            }
         }
      }
   }
}

// Client  Satisfaction
.client-satisfaction {
   padding: 20px 0px;

   .client-satisfaction-text {
      h2 {
         font-size: 35px;
         line-height: 40px;
         color: #242F51;
         font-weight: 500;
         margin: 40px auto 20px 0px;
      }

      p {
         color: #616368;
      }

      .clien-ratings i {
         color: #FFCC00;
         padding: 0px 10px;
      }

      h3 {
         font-size: 20px;
         line-height: 25px;
         color: #242F51;
         font-weight: 500;
         margin: 35px 0px;
      }

      .client-profile {
         display: flex;
         align-items: center;
         margin-top: 30px;

         img {
            width: 60px;
            padding: 0px 10px;
         }

         .client-details {
            h3 {
               font-size: 16px;
               line-height: 17px;
               margin-top: 5px;
               margin-bottom: 5px;
               font-weight: 500;
            }

            span {
               font-size: 14px;
               line-height: 17px;
               color: #616368;
            }
         }
      }
   }
}

@include media-md {
   .client-satisfaction {
      padding: 50px 0px;
   }

   .client-satisfaction-img {
      img {
         margin-top: 200px;
      }
   }
}

@include media-lg {
   .client-satisfaction {

      .client-satisfaction-img {
         img {
           margin-top: 100px;
         }
      }
   }
}

// Faq Section
.faq {
   padding: 30px 0px;

   .faq-title {
      h2 {
         font-size: 35px;
         line-height: 40px;
         font-weight: 500;
         color: #242F51;
         margin-bottom: 15px;
      }
   }

   .faq-question {
      background-color: #F5F7FA;
      padding: 30px 10px;

      h3 {
         font-size: 20px;
         line-height: 25px;
         font-weight: 500;
         color: #242F51;
      }

      p {
         font-size: 15px;
         line-height: 22px;
      }
   }

   .faq1 {
      .faq-collapse {
         background-color: #F5F7FA;
         color: #242F51;
         cursor: pointer;
         padding: 10px;
         width: 100%;
         border: none;
         text-align: left;
         outline: none;
         font-size: 15px;
         font-weight: 500;
      }

      .content {
         padding: 0 18px;
         display: none;
         overflow: hidden;
         background-color: #F5F7FA;

         p {
            font-size: 15px;
            line-height: 20px;
            color: #616368;
            text-align: left;
         }
      }
   }
}

@include media-md {
   .faq {
      padding: 50px 0px;
      text-align: center;

      .faq-title {
         h2 {
            width: 562px;
            margin: 0 auto;
            margin-bottom: 20px;
         }

         p {
            width: 634px;
            margin: 0 auto;
            margin-bottom: 30px;
            font-size: 16px;
         }
      }

      .faq1 {
         .faq-collapse {
            font-size: 16px;
         }

         .content {
            p {
               font-size: 16px;
               text-align: left;
            }
         }
      }
   }
}

@include media-lg {
   .faq {
      padding: 70px 0px;

      .faq-title {
         h2 {
            font-size: 40px;
            line-height: 45px;
         }
      }
   }
}

// Download Our App
.download-our-app {

   .download-our-app-text {
      h2 {
         font-size: 40px;
         line-height: 45px;
         color: #242F51;
         font-weight: 500;
      }

      p {
         font-size: 15px;
         line-height: 20px;
         color: #616368;
         margin: 20px 0px;
      }

      .download-store {
         display: flex;

         img {
            width: 80px;
            height: 30px;
            object-fit: contain;
         }
      }
   }

   .download-our-app-img {
      img {
         margin-top: 20px;
         padding: 0px 15px;
      }
   }
}

@include media-md {
   .download-our-app {
      padding: 80px 0px;

      .download-our-app-text {
         h2 {
            font-size: 45px;
            line-height: 50px;
         }

         p {
            font-size: 16px;
            line-height: 20px;
         }
      }

      .download-our-app-img {
         img {
            margin-top: 0;
            padding: 0;
         }
      }
   }
}


// Main Footer 
.main-footer {
   background-color: #09142E;
   padding: 50px 0px;

   .main-footer-content {

      .footer-logo {
         a {
            img {
               width: 80px;
               margin: 0 auto;
            }
         }
      }

      .footer-menu {
         margin: 15px 0px;

         ul {
            list-style-type: none;

            li {
               display: block;
               padding: 10px 20px;

               a {
                  color: #fff;
               }
            }
         }
      }

      .social-icon-footer {
         a {
            display: inline-block;
            padding: 7px;

            i {
               color: #fff;
            }
         }
      }

      h5 {
         font-size: 15px;
         font-weight: 500;
         color: #fff;
         line-height: 20px;
         margin-top: 20px;
      }
   }
}

@include media-md {
   .main-footer {
      .main-footer-content {
         .footer-logo {
            a {
               img {
                  width: 120px;
               }
            }
         }

         .footer-menu {
            ul {
               li {
                  display: inline-block;
               }
            }
         }
      }
   }
}